/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: Helvetica, Arial, "Times New Roman", Times, serif;
  line-height: 28px; /* 28px / 18px = 1.555555555555em */
  font-size: 22px; /* 22px / 16px = 1.375em */
  padding: 14px;
}

h1, h2, h3, p, section {
  padding-bottom: 28px; /* add in one lineheight of space */
}

h1 {
  font-size: 39.092px;
  line-height: 42px; /* 28px * 1.5 = 42px */
}

h2 {
  font-size:29.326px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

a {
  text-decoration: none;
}
